#map {
  margin: 0 auto;
  margin-bottom: 50px;
}
.title_map {
  font-size: 23px;
  color: rgb(102, 102, 102);
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 38px;
  text-align: center;
}
.wrap_map {
  margin-top: 9%;
}
.navbar-nav {
  color: #666666;
}
